<script>

export default {
  name: 'CHeader',
  data () {
    return {
      items: [
        {text: "Магазины"},
        {text: "Сервисные центры"},
        {text: "Оптала и доставка"}
      ],
      categories: [
        {text: "Ноутбуки"},
        {text: "Планшеты"},
        {text: "Смартфоны"},
        {text: "ПК"},
        {text: "Телевизоры"},
        {text: "Игровые приставки"}
      ],
      services: [
        {text: "Скидки"},
        {text: "Акции"},
        {text: "Услуги"}
      ]
    }
  },
  computed: {}
}
</script>

<template>
  <div>
    <div class="c-header">
      <div class="g-container">
        <div class="c-header-wrap">
          <nuxt-link :to="{name: 'index'}">
            <span class="c-header__logo">TechStore</span>
          </nuxt-link>
          <div class="c-header-cities">
            Воронеж
            <svg class="c-header-cities__icon"
                 xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 14 7"
                 width="14">
              <path fill="#fff"
                    d="M7,7a1,1,0,0,1-.641-.232l-6-5A1,1,0,1,1,1.641.232L7,4.7,12.359.232a1,1,0,1,1,1.282,1.536l-6,5A1,1,0,0,1,7,7Z" />
            </svg>
          </div>
          <div class="c-header-nav">
            <ul class="c-header-nav__menu">
              <li v-for="item in items"
                  :key="item.id"
                  class="c-header-nav__item">
                <nuxt-link :to="{name: 'index'}">
                  {{ item.text }}
                </nuxt-link>
              </li>
            </ul>
          </div>
          <div class="c-header__lk">
            <nuxt-link :to="{name: 'index'}">
              <svg xmlns="http://www.w3.org/2000/svg"
                   viewBox="0 0 8.996 10"
                   width="9"
                   height="10">
                <g>
                  <path fill="#999"
                        class="a"
                        d="M4.5,0C2.772,0,2.586,1.819,2.586,2.6S2.772,5.2,4.5,5.2,6.414,3.383,6.414,2.6,6.227,0,4.5,0Z" />
                  <path fill="#999"
                        class="a"
                        d="M3.463,5.9.524,7.426A1.145,1.145,0,0,0,0,8.314V9.555A.435.435,0,0,0,.424,10H8.576A.435.435,0,0,0,9,9.555V8.314a1.145,1.145,0,0,0-.524-.888L5.537,5.9a2.828,2.828,0,0,1-2.074,0Z" />
                </g>
              </svg>
              <span class="c-header__lk-title">Личный кабинет</span>
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
    <div class="c-header-bottom">
      <div class="g-container">
        <div class="c-header-wrap">
          <div class="c-header__search">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="19"
                 height="19"
                 viewBox="0 0 19 19"
                 class="search-icon">
              <path fill="#fff"
                    d="M18.207,16.793l-4.752-4.752a7.528,7.528,0,1,0-1.414,1.414l4.752,4.752a1,1,0,0,0,1.414-1.414ZM2,7.5A5.5,5.5,0,1,1,7.5,13,5.506,5.506,0,0,1,2,7.5Z" />
            </svg>
          </div>
          <div class="c-header__categories">
            <ul class="c-header__categories-items">
              <li v-for="category in categories"
                  :key="category.id"
                  class="c-header__categories-item">
                <nuxt-link :to="{name: 'index'}">
                  {{ category.text }}
                </nuxt-link>
              </li>
            </ul>
          </div>
          <div class="c-header__services">
            <ul class="c-header__services-items">
              <li v-for="service in services"
                  :key="service.id"
                  class="c-header__services-item">
                <nuxt-link :to="{name: 'index'}">
                  {{ service.text }}
                </nuxt-link>
              </li>
            </ul>
          </div>
          <div class="c-header__favorite">
            <nuxt-link :to="{name: 'pageFavorite'}">
              <svg xmlns="http://www.w3.org/2000/svg"
                   viewBox="0 0 20 20"
                   width="20"
                   height="20">
                <path fill="#e83587"
                      class="a"
                      d="M10,19a1,1,0,0,1-.654-.244C2.106,12.5,0,10.125,0,6.462A5.279,5.279,0,0,1,5.2,1,6.058,6.058,0,0,1,10,3.652,6.055,6.055,0,0,1,14.8,1,5.279,5.279,0,0,1,20,6.462c0,3.663-2.105,6.036-9.345,12.294A1,1,0,0,1,10,19ZM5.2,3A3.3,3.3,0,0,0,2,6.462c0,2.63,1.442,4.508,8,10.214,6.559-5.706,8-7.584,8-10.214A3.3,3.3,0,0,0,14.8,3c-1.537,0-2.4.893-3.37,2.061l-.648.813a1.034,1.034,0,0,1-1.564,0l-.66-.829C7.768,4.1,6.858,3,5.2,3Z" />
              </svg>
              <span class="c-header__favorite-counter">{{ $store.state.favorite.favoriteCount }}</span>
            </nuxt-link>
          </div>
          <div class="c-header__cart">
            <nuxt-link :to="{name: 'pageCart'}">
              <svg xmlns="http://www.w3.org/2000/svg"
                   viewBox="0 0 20 20"
                   width="20"
                   height="20">
                <path fill="#fff"
                      d="M19.394,5.081a1,1,0,0,0-1.313.525L15.341,12H6.92L6,.917A1,1,0,0,0,5,0H1A1,1,0,0,0,1,2H4.08L5,13.083A1,1,0,0,0,6,14H16a1,1,0,0,0,.919-.606l3-7A1,1,0,0,0,19.394,5.081Z" />
                <circle fill="#fff"
                        class="a"
                        cx="6.5"
                        cy="17.5"
                        r="1.5" />
                <circle fill="#fff"
                        class="a"
                        cx="15.5"
                        cy="17.5"
                        r="1.5" />
              </svg>
              <span class="c-header__cart-counter">{{ $store.state.cart.cartCount }}</span>
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" src="./header.scss"/>