.c-header {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000;

  &-wrap {
    display: flex;
  }

  &__logo {
    color: #E45B82;
    margin-right: 100px;
    font-family: $f-extrabold;
    font-size: $s-large;
  }

  &-cities {
    margin-top: 20px;
    margin-right: 15px;
  }

  &-cities__icon {
    margin-left: 5px;
  }

  &-nav {
    margin-top: 20px;
  }

  &-nav__menu {
    display: flex;
    list-style: none;
  }

  &-nav__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__lk {
    margin-left: auto;
    margin-top: 20px;
  }

  &__lk-title {
    color: #999;
  }

  &-bottom {
    background-color: #242424;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
  }

  &__categories-items {
    display: flex;
    list-style: none;
    align-items: center;

  }

  &__categories-item {
    margin-left: 20px;
  }

  &__services {
    margin-left: auto;
  }

  &__services-items {
    display: flex;
    list-style: none;
  }

  &__services-item {
    margin-left: 50px;
  }

  &__favorite {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
  }

  &__cart {
    display: flex;
    align-items: center;
  }

  &__cart-counter {
    margin-left: 10px;
    color: #e83587;
  }

  &__favorite-counter {
    margin-left: 10px;
    color: #ffffff;
  }

  &__cart-txt {
    padding-left: 10px;
  }
}
