<script>
import Header from '@/components/Header/Header.vue'
import Footer from '@/components/Footer/Footer.vue'
import Products from '@/components/Products/ProductsList.vue'

export default {
  name: 'PFavorite',
  components: {
    'c-header': Header,
    'c-footer': Footer,
    'c-products': Products
  },
  data () {
    return {}
  },
  computed: {
    favoriteProducts () {
      return this.$store.state.favorite.list
    }
  },
  methods: {}
}
</script>

<template>
  <div>
    <c-header />
    <div class="g-container">
      <div class="p-favorite">
        <c-products :products="favoriteProducts" />
      </div>
    </div>
    <c-footer />
  </div>
</template>

<style lang="scss" src="./pageFavorite.scss"/>