<script>
export default {
  name: 'CSidebar',
  data () {
    return {
      brands: [
        {name: "Apple"},
        {name: "Samsung"},
        {name: "Xiaomi"}
      ],
      colors: [
        {txt: "black"},
        {txt: "white"},
        {txt: "gray"}
      ]
    }
  }
}
</script>

<template>
  <div>
    <div class="c-sidebar">
      <div class="c-sidebar__filters">
        <div class="c-sidebar__filter">
          <p class="c-sidebar__filter-title">
            Бренд
          </p>
          <div class="c-sidebar__filter-wrap">
            <p v-for="brand in brands"
               :key="brand.id"
               class="c-sidebar__filter-item">
              <label for="filter-check" />
              <input id="filter-check"
                     class="c-sidebar__filter-check"
                     type="checkbox">
              {{ brand.name }}
            </p>
          </div>
        </div>
        <div class="c-sidebar__filter">
          <p class="c-sidebar__filter-title">
            Цвет
          </p>
          <div class="c-sidebar__filter-wrap">
            <p v-for="color in colors"
               :key="color.id"
               class="c-sidebar__filter-item">
              <label for="color-check" />
              <input id="color-check"
                     class="c-sidebar__filter-check"
                     type="checkbox">
              {{ color.txt }}
            </p>
          </div>
        </div>
        <div class="c-sidebar__filter">
          <p class="c-sidebar__filter-title">
            Цена
          </p>
          <div class="c-sidebar__filter-cost">
            <label for="filter-price-start" />
            <input id="filter-price-start"
                   class="c-sidebar__filter-price"
                   placeholder="от"
                   type="text">
            <label for="filter-price-end" />
            <input id="filter-price-end"
                   class="c-sidebar__filter-price"
                   placeholder="до"
                   type="text">
          </div>
          <button class="c-sidebar__filter-accept">
            ПРИМЕНИТЬ
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" src="./sidebar.scss"/>