.c-sidebar {
  width: 275px;
  float: right;
  padding: 25px 0;
  margin-top: 80px;
  position: sticky;

  &__filter {
    margin-bottom: 40px;
  }

  &__filter-title {
    color: #222;
    font-family: $f-bold;
    padding-bottom: 25px;
  }

  &__filter-check {
    width: 14px;
    height: 14px;
  }

  &__filter-item {
    color: #222;
    padding-bottom: 10px;
  }

  &__filter-cost {
    display: flex;
  }

  &__filter-price {
    max-width: 100px;
    border-radius: 5px;
    outline: none;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__filter-accept {
    background-color: #e83587;
    border: none;
    border-radius: 5px;
    color: #F5F5F5;
    height: 30px;
    margin-top: 20px;
    cursor: pointer;
    font-family: $f-bold;
    width: 140px;
  }
}
