<script>
import Header from '@/components/Header/Header.vue'
import Footer from '@/components/Footer/Footer.vue'

export default {
  name: 'PProduct',
  components: {
    'c-header': Header,
    'c-footer': Footer
  },
  async asyncData ({$axios, params}) {
    try {
      const product = await $axios.$get(`products/${params.id}`)

      return {
        product
      }
    } catch (e) {

      throw e
    }
  },
  data () {
    return {
      inCart: false,
      inFavorite: false
    }
  },
  methods: {
    addToCart () {
      this.$store.commit('cart/SET_ADD_T0_CART_PRODUCT_PAGE', this.product)
      this.inCart = true
    },
    removeFromCart () {
      this.$store.commit('cart/SET_REMOVE_FROM_CART_PRODUCT_PAGE', this.product)
      this.inCart = false
    },
    addToFavorite () {
      this.$store.commit('favorite/SET_ADD_T0_FAVORITE_PRODUCT_PAGE', this.product)
      this.inFavorite = true
    },
    removeFromFavorite () {
      this.$store.commit('favorite/SET_REMOVE_FROM_FAVORITE_PRODUCT_PAGE', this.product)
      this.inFavorite = false
    }
  }
}
</script>

<template>
  <div>
    <c-header />
    <div class="g-container">
      <div class="p-product">
        <div class="p-product__wrap">
          <div class="p-product__info">
            <p class="p-product__title">
              {{ product.title }}
            </p>
            <img class="p-product__logo"
                 :src="product.coverUrl"
                 alt="">
          </div>
          <div class="p-product__sale">
            <p class="p-product__sale-cost">
              {{ product.price }} ₽
            </p>
            <div class="p-product__sale-buttons">
              <button v-if="!inCart"
                      class="p-product__sale-cart"
                      @click.prevent="addToCart()">
                Добавить в
                корзину
              </button>
              <button v-else
                      class="p-product__sale-cart"
                      @click.prevent="removeFromCart()">
                Удалить из корзины
              </button>
              <button v-if="!inFavorite"
                      class="p-product__sale-favorite"
                      @click.prevent="addToFavorite()">
                Добавить в избранное
              </button>
              <button v-else
                      class="p-product__sale-favorite"
                      @click.prevent="removeFromFavorite()">
                Удалить из избранного
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <c-footer />
  </div>
</template>

<style lang="scss" src="./pageProduct.scss"/>