.p-product {
  padding-top: 40px;
  padding-bottom: 200px;
  width: 1100px;
  margin: 0 auto;

  &__wrap {
    display: flex;
  }

  &__title {
    color: #222;
    font-size: $s-big;
    padding-bottom: 35px;
  }

  &__logo {
    max-height: 340px;
    max-width: 100%;
  }

  &__sale {
    margin-top: 150px;
  }

  &__sale-cost {
    color: #222;
    font-size: $s-big;
  }

  &__sale-buttons {
    margin-top: 20px;
    display: flex;
  }

  &__sale-cart {
    margin-right: 20px;
    background-color: #e83587;
    border: none;
    border-radius: 5px;
    color: #F5F5F5;
    height: 50px;
    margin-top: 20px;
    cursor: pointer;
    font-family: $f-bold;
    width: 240px;
  }

  &__sale-favorite {
    background-color: #f2f2f2;
    border: none;
    border-radius: 5px;
    color: #222;
    height: 50px;
    margin-top: 20px;
    cursor: pointer;
    width: 240px;
  }
}
