/* stylelint-disable */

@font-face {

  font-family: "Montserrat Regular";

  src: url("~assets/fonts/regular/montserrat-regular.eot");
  src: url("~assets/fonts/regular/montserrat-regular.woff2") format("woff2"),
  url("~assets/fonts/regular/montserrat-regular.woff") format("woff"),
  url("~assets/fonts/regular/montserrat-regular.ttf") format("truetype"),
  url("~assets/fonts/regular/montserrat-regular.svg#MontserratRegular") format("svg");


}

@font-face {
  font-family: "Montserrat Medium";

  src: url("~assets/fonts/medium/montserrat-medium.eot");
  src: url("~assets/fonts/medium/montserrat-medium.woff2") format("woff2"),
  url("~assets/fonts/medium/montserrat-medium.woff") format("woff"),
  url("~assets/fonts/medium/montserrat-medium.ttf") format("truetype"),
  url("~assets/fonts/medium/montserrat-medium.svg#MontserratMedium") format("svg");
}

@font-face {
  font-family: "Montserrat Bold";

  src: url("~assets/fonts/bold/montserrat-bold.eot");
  src: url("~assets/fonts/bold/montserrat-bold.woff2") format("woff2"),
  url("~assets/fonts/bold/montserrat-bold.woff") format("woff"),
  url("~assets/fonts/bold/montserrat-bold.ttf") format("truetype"),
  url("~assets/fonts/bold/montserrat-bold.svg#MontserratBold") format("svg");

}

@font-face {

  font-family: "Montserrat Extrabold";

  src: url("~assets/fonts/extrabold/montserrat-extrabold.eot");
  src: url("~assets/fonts/extrabold/montserrat-extrabold.woff2") format("woff2"),
  url("~assets/fonts/extrabold/montserrat-extrabold.woff") format("woff"),
  url("~assets/fonts/extrabold/montserrat-extrabold.ttf") format("truetype"),
  url("~assets/fonts/extrabold/montserrat-extrabold.svg#MontserratExtrabold") format("svg");


}
