/* Font-sizes */
$s-smallest: 12px;
$s-small: 14px;
$s-regular: 16px;
$s-medium: 20px;
$s-big: 24px;
$s-main-large: 36px;
$s-large: 48px;

/* Fonts */
$f-bold: "Montserrat Bold", "Arial";
$f-regular: "Montserrat Regular", "Arial";
$f-medium: "Montserrat Medium", "Arial";
$f-extrabold: "Montserrat Extrabold", "Arial";
