.p-cart {

  &__total {
    color: #999;
    font-size: $s-medium;
    font-family: $f-bold;
    margin-bottom: 30px;
  }

  &__empty {
    color: #999;
    font-size: $s-medium;
    font-family: $f-bold;
    margin-bottom: 30px;
  }
}
