<script>
import Header from '@/components/Header/Header.vue'
import Footer from '@/components/Footer/Footer.vue'
import Products from '@/components/Products/ProductsList.vue'

export default {
  name: 'PCart',
  components: {
    'c-header': Header,
    'c-footer': Footer,
    'c-products': Products
  },
  data () {
    return {}
  },
  computed: {
    cartProducts () {
      return this.$store.state.cart.list
    }
  },

  methods: {}
}
</script>

<template>
  <div>
    <c-header />
    <div class="g-container">
      <div class="p-cart">
        <c-products :products="cartProducts" />
        <p class="p-cart__total">
          Итоговая сумма заказа : 0
        </p>
        <p class="p-cart__empty">
          Сейчас в корзине товаров нет
        </p>
      </div>
    </div>
    <c-footer />
  </div>
</template>

<style lang="scss" src="./pageCart.scss"/>