<script>
import Product from '@/components/Product/ProductCard.vue'

export default {
  name: 'CProducts',
  components: {
    'c-product': Product
  },
  props: {
    products: {
      type: Array,
      required: true,
      default: () => []
    }
  },
  data () {
    return {}
  }
}
</script>

<template>
  <div>
    <div class="g-container">
      <div class="c-products">
        <c-product v-for="product in products"
                   :key="product._id"
                   :info="product" />
      </div>
    </div>
  </div>
</template>

<style lang="scss" src="./products.scss"/>