html {
  height: 100%;
}

body {
  font-family: $f-regular;
  font-size: $s-regular;

  min-width: 320px;

  color: #fff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

p {
  margin: 0;
}

button {
  outline: none;
}

.g {

  &-container {
    width: 100%;
    min-width: 320px;
    max-width: 1900px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;

    @include maw(450) {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}
