<script>

export default {
  name: 'CFooter',
  data () {
    return {
      items: [
        {text: "Магазины"},
        {text: "Сервисные центры"},
        {text: "Оптала и доставка"}
      ],
      categories: [
        {text: "Ноутбуки"},
        {text: "Планшеты"},
        {text: "Смартфоны"},
        {text: "ПК"},
        {text: "Телевизоры"},
        {text: "Игровые приставки"}
      ],
      services: [
        {text: "Скидки"},
        {text: "Акции"},
        {text: "Услуги"}
      ]
    }
  }
}
</script>

<template>
  <div>
    <div class="c-footer-top">
      <div class="g-container">
        <div class="c-footer-wrap">
          <div class="c-footer__categories">
            <ul class="c-footer__categories-items">
              <li v-for="category in categories"
                  :key="category.id"
                  class="c-footer__categories-item">
                <nuxt-link :to="{name: 'index'}">
                  {{ category.text }}
                </nuxt-link>
              </li>
            </ul>
          </div>
          <div class="c-footer__services">
            <ul class="c-footer__services-items">
              <li v-for="service in services"
                  :key="service.id"
                  class="c-footer__services-item">
                <nuxt-link :to="{name: 'index'}">
                  {{ service.text }}
                </nuxt-link>
              </li>
            </ul>
          </div>

          <div class="c-footer__cart">
            <nuxt-link :to="{name: 'pageCart'}">
              <svg xmlns="http://www.w3.org/2000/svg"
                   viewBox="0 0 20 20"
                   width="20"
                   height="20">
                <path fill="#fff"
                      d="M19.394,5.081a1,1,0,0,0-1.313.525L15.341,12H6.92L6,.917A1,1,0,0,0,5,0H1A1,1,0,0,0,1,2H4.08L5,13.083A1,1,0,0,0,6,14H16a1,1,0,0,0,.919-.606l3-7A1,1,0,0,0,19.394,5.081Z" />
                <circle fill="#fff"
                        class="a"
                        cx="6.5"
                        cy="17.5"
                        r="1.5" />
                <circle fill="#fff"
                        class="a"
                        cx="15.5"
                        cy="17.5"
                        r="1.5" />
              </svg>
              <span class="c-footer__cart-counter">{{ $store.state.cart.cartCount }}</span>
              <span class="c-footer__cart-txt">Корзина</span>
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
    <div class="c-footer">
      <div class="g-container">
        <div class="c-footer-wrap">
          <div class="c-footer-nav">
            <ul class="c-footer-nav__menu">
              <li v-for="item in items"
                  :key="item.id"
                  class="c-footer-nav__item">
                <nuxt-link :to="{name: 'index'}">
                  {{ item.text }}
                </nuxt-link>
              </li>
            </ul>
          </div>
          <nuxt-link :to="{name: 'index'}">
            <span class="c-footer__logo">TechStore</span>
          </nuxt-link>
        </div>
        <p class="c-footer__copyright">
          © 2020 TechStore — Крупнейшая сеть магазинов и сервисных центров техники в
          мире
        </p>
      </div>
    </div>
  </div>
</template>

<style lang="scss" src="./footer.scss"/>