<script>
export default {
  name: 'CProduct',
  props: {
    info: {
      type: Object,
      required: true,
      default: null
    }
  },
  data () {
    return {
      inCart: false,
      inFavorite: false
    }
  },
  methods: {
    addToCart () {
      this.$store.commit('cart/SET_ADD_T0_CART_PRODUCT', this.info)
      this.inCart = true
    },
    removeFromCart () {
      this.$store.commit('cart/SET_REMOVE_FROM_CART_PRODUCT', this.info)
      this.inCart = false
    },
    addToFavorite () {
      this.$store.commit('favorite/SET_ADD_T0_FAVORITE_PRODUCT', this.info)
      this.inFavorite = true
    },
    removeFromFavorite () {
      this.$store.commit('favorite/SET_REMOVE_FROM_FAVORITE_PRODUCT', this.info)
      this.inFavorite = false
    }
  }
}
</script>


<template>
  <div>
    <nuxt-link class="c-product__link"
               :to="{name: 'pageProduct', params: {id: info._id} }">
      <div class="c-product">
        <div class="c-product__logo-wrap">
          <img class="c-product__logo"
               :src="info.coverUrl"
               alt="logo">
        </div>
        <p class="c-product__title">
          {{ info.title }}
        </p>
        <p class="c-product__price">
          {{ info.price }} ₽
        </p>
      </div>
    </nuxt-link>
    <div class="c-product__buyfav">
      <p v-if="!inCart"
         class="c-product__buy"
         @click.prevent="addToCart()">
        В корзину
      </p>
      <p v-else
         class="c-product__buy"
         @click.prevent="removeFromCart()">
        Удалить из корзины
      </p>
      <p v-if="!inFavorite"
         class="c-product__favorite"
         @click.prevent="addToFavorite()">
        В избранное
      </p>
      <p v-else
         class="c-product__favorite"
         @click.prevent="removeFromFavorite()">
        Удалить из избранного
      </p>
    </div>
  </div>
</template>

<style lang="scss" src="./product.scss"/>