.c-product {
  padding: 0 20px 20px;

  &__logo-wrap {
    text-align: center;
  }

  &__logo {
    max-width: 90%;
    max-height: 146px;
  }

  &__title {
    margin: 0;
    color: #222;
    font-size: $s-small;
    padding-top: 35px;
  }

  &__price {
    margin: 0;
    color: #222;
    font-family: $f-bold;
    padding-top: 25px;
    text-align: center;
  }

  &__buyfav {
    text-align: center;
    margin-bottom: 80px;
  }

  &__buy {
    margin: 0;
    color: #e83587;
    font-size: $s-medium;
    padding-top: 15px;
    font-family: $f-bold;
    cursor: pointer;
  }

  &__favorite {
    margin: 0;
    color: #999;
    font-size: $s-smallest;
    padding-top: 15px;
    cursor: pointer;
  }
}
