<script>
import Header from '@/components/Header/Header.vue'
import Footer from '@/components/Footer/Footer.vue'
import Sidebar from '@/components/Sidebar/Sidebar.vue'
import Products from '@/components/Products/ProductsList.vue'

export default {
  components: {
    'c-header': Header,
    'c-footer': Footer,
    'c-sidebar': Sidebar,
    'c-products': Products
  },
  async asyncData ({$axios}) {
    try {
      const products = await $axios.$get('products')
      return {
        products
      }
    } catch (e) {
      console.log(e)
      throw e
    }
  },
  data () {
    return {
      products: []
    }
  }
}
</script>

<template>
  <div class="p-home">
    <c-header />
    <c-sidebar />
    <c-products :products="products" />
    <c-footer />
  </div>
</template>

<style lang="scss" src="./home.scss"/>